<div class="post-wrapper">
  <div class="container-fluid">
    <div class="row justify-content-between" >
      <%= render partial: "form", locals: { formtitle: "新規投稿" } %>
    </div>
  </div>
</div>
