html {
  height: 100%;
}

body {
  height: 100%;
}

html body {
  background-color: #F0F2F5;
}

.wrapper {
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}

.header {
  background-color: #FFFFFF;
  height: 50px;
  position: relative;
  font-size: 0.9rem;
  box-shadow: 0 5px 3px 0px rgba(0, 0, 0, 0.05);
}

.logo_image {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.top_menu {
  float: right;
}

.top_menu ul {
  margin: 0;
  padding: 0;
}

.top_menu li {
  padding: 15px;
  float: left;
  width: auto;
  list-style: none;
}

.content {
  margin: 0 auto;
  padding: 20px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.picture-area {
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 0 auto 20px;
  max-width: 376px;
  height: 370px;
}

.card-picture {
  position: relative;
  width: 100%;
  min-height: 60%;
}

.card-picture img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.card-text {
  padding: 10px 0;
}

.card-button {
  padding: 5px 0;
  text-align: center;
}

.card-button span {
  font-size: 20px;
  padding: 0 10px;
}

.card-button a {
  color: dodgerblue;
}