html {
  height: 100%;
}

body {
  height: 100%;
}

html body {
  background-color: #FFFFFF;
}

.wrapper {
  min-height: 100%;
  min-width: 500px;
  width: 100%;
  background-color: #F0F2F5;
  box-sizing: border-box;
}

.header {
  height: 50px;
  position: relative;
  font-size: 0.9rem;
  box-shadow: 0 5px 3px 0px rgba(0, 0, 0, 0.05);
  background-color: #FFFFFF;
}

.icon-image {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.top_menu {
  float: right;
}

.top_menu ul {
  margin: 0;
  padding: 0;
}

.top_menu li {
  padding: 15px;
  float: left;
  width: auto;
  list-style: none;
}

.content {
  margin: 0 auto;
  max-width: 1000px;
  min-width: 500px;
  padding: 20px;
  box-sizing: border-box;

}

.picture-area {
  margin: 0 auto;
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 0 auto 20px;
  max-width: 376px;
  height: 370px;
}

.card-picture {
  position: relative;
  width: 100%;
  min-height: 60%;
}

.card-picture img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.card-text {
  padding: 10px 0;
}

.card-button {
  padding: 5px 0;
  text-align: center;
}

.card-button span {
  font-size: 20px;
  padding: 0 10px;
}

.card-button a {
  color: dodgerblue;
}

/* ログイン関係 開始 */

.container {
  display: flex;
}

.login-wrapper {
  background-color: #F0F2F5;
}

.hidden-box {
  height: 70px
}

.login-content {
  max-width: 800px;
  min-height: 500px;
  padding: 20px 0 20px;
  width: auto;
  margin: 0 auto;
}

.login-title {
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

.login-title-logo {
  padding-bottom: 16px;
  display: block;
}

.login-title h4{
  display: inline-block;
}

.login-form{
  margin: 40px auto;
  padding: 6px 8px 20px;
  width: 400px;
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-content h4{
  text-align: center;
  color: #333;
  margin-left: 15px;
}

.form-container {
  padding: 6px 0;
}

.input-container {
  padding: 6px 0;
}

.button-container {
  padding: 6px;
  text-align: center;
  padding: 6px 0;
}

.form-border {
  border-bottom: 1px solid #dadde1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(218, 221, 225);
  margin: 20px 0;
}

/* ログイン関係 終了 */

.alert {
  display:inline-block;
}

.footer{
  width: 100%;
  height: 100px;
  padding-top: 20px;
  background-color: #fff;
  position: absolute;
  text-align: center;
}

.copyright {
  max-width: 980px;
  font-size: 0.8rem;
  color: #737373; 
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}