html body {
  background-color: #FFFFFF !important;
}

.signup-wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.signup-form {
  padding: 16px 10px 0;
}

.signup-title h2 {
  font-size: 30px;
  font-weight: 600;
}

.signup-title span {
  display: block;
  font-size: 18px;
  line-height: 22px;
  color: rgb(96, 103, 112);
}

.signup-input {
  margin-bottom: 14px;
}

.profile-wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.profile-wrapper h2 {
  display: block;
  padding: 6px 0 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

.profile-list {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid rgb(170, 170, 170);
  border-bottom: 1px solid rgb(170, 170, 170);
}

.profile-list li {
  display: list-item;
  padding: 18px 0;
  text-align: left;
  border-bottom: 1px solid rgb(235, 237, 240);
}

.profile-list h4 {
  display: block;
  float: left;
  width: 190px;
  margin:0 ;
  padding: 0 5px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.profile-list span {
  display: block;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

.button-wrapper {
  padding-top: 20px;
}